<header class="no-border">
    <nav class="byline">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/tags">Tags</a></li>
        </ul>
    </nav>
<div class="downloads">
          <a href="{{github}}" class="fa fa-github"></a>
          <a href="http://twitter.com/congleetea" class="fa fa-twitter"></a>
          <a href="http://instagram.com/congleetea" class="fa fa-instagram"></a>
        </div>
</header>
